.table {
  width: 100%;
  background: transparent;
}

.mat-table {
  background: transparent;
}

.mat-row {
  background: #fff;
  border: 1px solid #edf0f5;
  border-radius: 16px;
  margin-bottom: 10px;
}

.mat-cell,
.mat-header-cell {
  border-bottom: none !important;
}

.cell-content {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

/* src/app/shared/components/table/app-table.component.scss */
.table {
  width: 100%;
  background: transparent;
}

.mat-table {
  background: transparent;
}

.mat-row {
  background: #fff;
  border: 1px solid #edf0f5;
  border-radius: 16px;
  margin-bottom: 10px;
}

.mat-cell,
.mat-header-cell {
  border-bottom: none !important;
}

.cell-content {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

/* RESPONSIVO */
@media (max-width: 1100px) {
  .mat-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .mat-row,
  .mat-header-row {
    min-width: 820px; /* ajusta se quiseres */
  }
}
