<aside class="sidebar" [class.opened]="opened">
  <div class="brand">
    <div class="logo-box">
      <img src="assets/minfin-logo-branco.png" alt="MINFIN" class="logo-img" />
    </div>
    <div class="brand-text">
      <small>{{ 'app.brand.subtitle' | translate }}</small>
    </div>
  </div>

  <nav class="nav">
    <a class="nav-item" routerLink="/dashboard" routerLinkActive="active" (click)="onNavigate()">
      <mat-icon>dashboard</mat-icon>
      <span>{{ 'app.nav.dashboard' | translate }}</span>
    </a>
    <ng-container *ngFor="let item of nav">
      <ng-container *ngIf="item.children?.length; else single">
        <button class="nav-item has-children" (click)="toggleGroup(item.labelKey)">
          <span class="left">
            <mat-icon>{{ item.icon }}</mat-icon>
            <span>{{ item.labelKey | translate }}</span>
          </span>
          <mat-icon class="chevron" [class.open]="openedGroups[item.labelKey]">expand_more</mat-icon>
        </button>

        <div class="sub" *ngIf="openedGroups[item.labelKey]">
          <a *ngFor="let c of item.children" class="sub-item" [routerLink]="c.route" routerLinkActive="active"
            (click)="onNavigate()">
            {{ c.labelKey | translate }}
          </a>
        </div>
      </ng-container>

      <ng-template #single>
        <a class="nav-item" *ngIf="item.route && item.labelKey !== 'app.nav.dashboard'" [routerLink]="item.route"
          routerLinkActive="active" (click)="onNavigate()">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.labelKey | translate }}</span>
        </a>
      </ng-template>
    </ng-container>
  </nav>

<!-- Rodapé: seletor de idioma (destacado) -->
<div class="footer-lang">
  <div class="lang-picker">
    <mat-icon class="lang-icon">language</mat-icon>

    <mat-form-field appearance="outline" class="lang-field" floatLabel="never">
      <mat-select
        [value]="lang.current"
        (selectionChange)="changeLang($event.value)"
        [panelClass]="'lang-panel'"
        disableOptionCentering>
        
        <!-- Mostra bandeira + texto quando fechado -->
        <mat-select-trigger>
          <span class="flag">{{ lang.current === 'pt' ? '🇵🇹' : '🇬🇧' }}</span>
          <span class="label">{{ ('lang.' + lang.current) | translate }}</span>
        </mat-select-trigger>

        <mat-option value="pt">
          <span class="flag">🇵🇹</span>
          <span class="option-label">{{ 'lang.pt' | translate }}</span>
        </mat-option>
        <mat-option value="en">
          <span class="flag">🇬🇧</span>
          <span class="option-label">{{ 'lang.en' | translate }}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

</aside>