<!-- src/app/shared/components/filters/filters.component.html -->
<div class="filters">
  <mat-form-field class="search">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Pesquisar..." [formControl]="form.controls.q">
  </mat-form-field>

  <mat-form-field class="dept">
    <mat-select [formControl]="form.controls.departamento" placeholder="Departamento">
      <mat-option *ngFor="let d of departments" [value]="d.value">{{ d.label }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="date">
    <mat-icon matPrefix>event</mat-icon>
    <input matInput type="date" placeholder="Data Inicial" [formControl]="form.controls.dataInicial">
  </mat-form-field>

  <mat-form-field class="date">
    <mat-icon matPrefix>event</mat-icon>
    <input matInput type="date" placeholder="Data Final" [formControl]="form.controls.dataFinal">
  </mat-form-field>

  <button mat-button type="button" (click)="onClear()">Limpar</button>
</div>
